.sobre{
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.sobremim{
  font-size: 5rem;
  line-height:1;
  text-transform: uppercase;
  max-width: 5ch;
  text-align: center;
  color: #e0e0e0;
}
